*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191C2E;
}
#main-header{
    font-size: 50px;
    font-family: 'Merriweather', serif;
    /* font-family: 'Modak', cursive; */
    text-align: center;
    background-color: #2B2E43;
    color: aliceblue;
    
}
.ro{
    color:lightgrey;
}
.bo {
    color:lightgray;
}
.task{
    color: darkgrey;
}
.manager{
    color: lightgrey;
}
a{
    text-decoration: none;
}
.task-list{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 4em;
    padding: 0px;
    background-color: #191C2E;
}
h4{
    color:aliceblue;
    font-size: 32px;
    
}
ul{
    list-style: none;
    color:aliceblue;
    font-size: 1.5em;
    background-color: #2B2E43;
}
.task-item{
    display: block;
    color: aliceblue;
    font-family: 'Merriweather', serif;
    /* font-family: 'Modak', cursive; */
    font-size: 32px;
    padding: 10px;
    background-color: #2B2E43;
    border-radius: 15px;
    text-align: center;

}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: #191C2E;
}
.submit {
	background: #191C2E;
	color: white;
	border-style: outset;
	border-color: #191C2E;
    border-radius: 10px;
	height: 50px;
	width: 100px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    margin-top: 0.6em;
    cursor: pointer;  
    font-family: 'Merriweather', serif;
    /* font-family: 'Modak', cursive; */
    font-size: 25px;
}
.status, .home{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    /* font-family: 'Modak', cursive; */
    text-align: center;
    background-color: #2B2E43;
    color: aliceblue;
    float: left;

}
.nav{
    display: inline;
    padding-top: .5em;
    list-style: none;
}
